USE [master]
GO
/****** Object:  Database [DamodarS_ID]    Script Date: 09-Jan-16 9:13:43 AM ******/
CREATE DATABASE [DamodarS_ID]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DamodarS_ID', FILENAME = N'E:\MSSQL.MSSQLSERVER\DATA\DamodarS_ID.mdf' , SIZE = 4096KB , MAXSIZE = 204800KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DamodarS_ID_log', FILENAME = N'D:\MSSQL.MSSQLSERVER\DATA\DamodarS_ID_log.ldf' , SIZE = 768KB , MAXSIZE = 102400KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DamodarS_ID].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DamodarS_ID]
GO
/****** Object:  User [Damodar]    Script Date: 09-Jan-16 9:13:46 AM ******/
CREATE USER [Damodar] FOR LOGIN [Damodar] WITH DEFAULT_SCHEMA=[Damodar]
GO
/****** Object:  DatabaseRole [gd_execprocs]    Script Date: 09-Jan-16 9:13:48 AM ******/
CREATE ROLE [gd_execprocs]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Damodar]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Damodar]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Damodar]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Damodar]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Damodar]
GO
/****** Object:  Schema [Damodar]    Script Date: 09-Jan-16 9:13:49 AM ******/
CREATE SCHEMA [Damodar]
GO
/****** Object:  Table [dbo].[BillLogin]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BillLogin](
	[id] [varchar](50) NOT NULL,
	[pwd] [varchar](50) NULL,
	[mailid] [varchar](50) NULL,
 CONSTRAINT [PK_BillLogin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Homeimg]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Homeimg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[head] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[Img] [varchar](150) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MessagetoSchool]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessagetoSchool](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UID] [nvarchar](50) NULL,
	[Mesage] [nvarchar](max) NULL,
	[updatetime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pakag]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pakag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typ] [varchar](150) NULL,
	[Des] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pakgImg]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pakgImg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typ] [varchar](150) NULL,
	[img] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reviw]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reviw](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[REviw] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[School_Ragistration]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_Ragistration](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ScholName] [nvarchar](150) NULL,
	[Phno] [nvarchar](50) NULL,
	[F1] [nvarchar](150) NULL,
	[F2] [nvarchar](150) NULL,
	[F3] [nvarchar](150) NULL,
	[F4] [nvarchar](150) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_School_Ragistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchoolIdFilds]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolIdFilds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolID] [nvarchar](50) NOT NULL,
	[MyIdFild] [nvarchar](250) NULL,
	[lasUpdatedTime] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchoolProfile]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolProfile](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](50) NULL,
	[SchoolName] [nvarchar](50) NULL,
	[PrincipalName] [nvarchar](50) NULL,
	[DiectorName] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Village] [nvarchar](50) NULL,
	[Tehsil] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[PIN] [int] NULL,
	[Phno1] [nvarchar](50) NULL,
	[Phno2] [nvarchar](50) NULL,
	[LandLine1] [nvarchar](50) NULL,
	[LandLine2] [nvarchar](50) NULL,
	[SchoolLogo] [nvarchar](150) NULL,
	[SchoolWebSite] [nvarchar](50) NULL,
	[Emailid] [nvarchar](50) NULL,
	[SchoolEstb] [nvarchar](50) NULL,
	[AuthSign] [nvarchar](150) NULL,
	[F1] [nvarchar](50) NULL,
	[F2] [nvarchar](50) NULL,
	[F3] [nvarchar](50) NULL,
	[F4] [nvarchar](50) NULL,
	[IsActive] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Service] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentDetail]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolUID] [nvarchar](50) NOT NULL,
	[ScholarNo] [nvarchar](50) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[MotherName] [nvarchar](50) NULL,
	[BloodGroup] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[DateofBarth] [nvarchar](50) NULL,
	[Class] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[Addres] [nvarchar](250) NULL,
	[StudentPhoto] [nvarchar](150) NULL,
	[F1] [nvarchar](50) NULL,
	[F2] [nvarchar](50) NULL,
	[F3] [nvarchar](50) NULL,
	[F4] [nvarchar](50) NULL,
	[LastUpdated] [date] NULL,
	[Status] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_StudentDetail_1] PRIMARY KEY CLUSTERED 
(
	[SchoolUID] ASC,
	[ScholarNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Admin_Registration]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin_Registration](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ScholName] [nvarchar](150) NULL,
	[Phno] [nvarchar](50) NULL,
	[F1] [nvarchar](150) NULL,
	[F2] [nvarchar](150) NULL,
	[F3] [nvarchar](150) NULL,
	[F4] [nvarchar](150) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tbl_Admin_Registration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_SP_Ragistration]    Script Date: 09-Jan-16 9:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SP_Ragistration](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ScholName] [nvarchar](150) NULL,
	[Phno] [nvarchar](50) NULL,
	[F1] [nvarchar](150) NULL,
	[F2] [nvarchar](150) NULL,
	[F3] [nvarchar](150) NULL,
	[F4] [nvarchar](150) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_TBL_SP_Ragistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[School_Ragistration] ON 

INSERT [dbo].[School_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (14, N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[School_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (1, N'1', N'12', N'Damodar@123.com', N'1', N'12', N'22', NULL, NULL, NULL, 1)
INSERT [dbo].[School_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (3, N'11', N'11', N'11@11.11', N'11', N'11', N'1', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[School_Ragistration] OFF
SET IDENTITY_INSERT [dbo].[SchoolIdFilds] ON 

INSERT [dbo].[SchoolIdFilds] ([id], [SchoolID], [MyIdFild], [lasUpdatedTime]) VALUES (1016, N'', N'[ScholarNo],[StudentName],[Class],[StudentPhoto],[Status]', CAST(N'2015-08-03' AS Date))
INSERT [dbo].[SchoolIdFilds] ([id], [SchoolID], [MyIdFild], [lasUpdatedTime]) VALUES (4, N'11', N'[ScholarNo],[StudentName],[MotherName],[Class],[StudentPhoto],[Status]', CAST(N'2015-03-13' AS Date))
INSERT [dbo].[SchoolIdFilds] ([id], [SchoolID], [MyIdFild], [lasUpdatedTime]) VALUES (1014, N'111', N'[ScholarNo],[StudentName],[Class],[StudentPhoto],[Status]', CAST(N'2015-08-03' AS Date))
SET IDENTITY_INSERT [dbo].[SchoolIdFilds] OFF
SET IDENTITY_INSERT [dbo].[SchoolProfile] ON 

INSERT [dbo].[SchoolProfile] ([Uid], [id], [SchoolName], [PrincipalName], [DiectorName], [Address], [Village], [Tehsil], [District], [State], [PIN], [Phno1], [Phno2], [LandLine1], [LandLine2], [SchoolLogo], [SchoolWebSite], [Emailid], [SchoolEstb], [AuthSign], [F1], [F2], [F3], [F4], [IsActive]) VALUES (1, N'1', N'A Raja', N'DPSDPS', N'DPS', N'Udaipur', N'Udaipur', N'Udaipur', N'Udaipur', N'Rajasthan', 123, N'9529144280', N'9529144280', N'9529144280', N'', N'Img/1/1G_B.jpg', N'http://www.google.com', N'damodarSharma@gmail.com', N'2010', N'Img/1/demoUpload.jpg', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[SchoolProfile] ([Uid], [id], [SchoolName], [PrincipalName], [DiectorName], [Address], [Village], [Tehsil], [District], [State], [PIN], [Phno1], [Phno2], [LandLine1], [LandLine2], [SchoolLogo], [SchoolWebSite], [Emailid], [SchoolEstb], [AuthSign], [F1], [F2], [F3], [F4], [IsActive]) VALUES (3, N'11', N'dfgd', N'DPSDPS', N'h', N'dfdgf dfdf', N'kjh', N'kjh', N'DPS', N'Rajasthan', 12311, N'9529144280', N'9529144280', N'53534534', N'3453453453', N'Img/11/A125.jpg', N'http://www.google.com', N'asd@12.com', N'2010', N'Img/11/A123.jpg', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SchoolProfile] OFF
SET IDENTITY_INSERT [dbo].[StudentDetail] ON 

INSERT [dbo].[StudentDetail] ([id], [SchoolUID], [ScholarNo], [StudentName], [FatherName], [MotherName], [BloodGroup], [PhoneNumber], [DateofBarth], [Class], [EmailId], [Addres], [StudentPhoto], [F1], [F2], [F3], [F4], [LastUpdated], [Status], [IsActive]) VALUES (1, N'1', N'A123', N'Sita1', N'Gita1', N'mita1', N'A1', N'9023452345', N'22/07/1990', N'I', N'raj@gmail.com', N'Jaipur1', N'StdPhoto/1/A123.jpg', NULL, NULL, NULL, NULL, CAST(N'2015-02-22' AS Date), 0, 1)
INSERT [dbo].[StudentDetail] ([id], [SchoolUID], [ScholarNo], [StudentName], [FatherName], [MotherName], [BloodGroup], [PhoneNumber], [DateofBarth], [Class], [EmailId], [Addres], [StudentPhoto], [F1], [F2], [F3], [F4], [LastUpdated], [Status], [IsActive]) VALUES (2, N'1', N'A124', N'Sita2', N'Gita2', N'mita2', N'A2', N'9023452346', N'22/07/1991', N'I', N'raj@gmail.com', N'Jaipur2', N'StdPhoto/1/A124.jpg', NULL, NULL, NULL, NULL, CAST(N'2015-02-22' AS Date), 0, 1)
INSERT [dbo].[StudentDetail] ([id], [SchoolUID], [ScholarNo], [StudentName], [FatherName], [MotherName], [BloodGroup], [PhoneNumber], [DateofBarth], [Class], [EmailId], [Addres], [StudentPhoto], [F1], [F2], [F3], [F4], [LastUpdated], [Status], [IsActive]) VALUES (3, N'1', N'A125', N'Sita3', N'Gita3', N'mita3', N'A3', N'9023452347', N'22/07/1992', N'I', N'raj@gmail.com', N'Jaipur3', N'StdPhoto/1/A125.jpg', NULL, NULL, NULL, NULL, CAST(N'2015-02-22' AS Date), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[StudentDetail] OFF
SET IDENTITY_INSERT [dbo].[tbl_Admin_Registration] ON 

INSERT [dbo].[tbl_Admin_Registration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (1, N'Admin2015', N'Admin2015', N'Admin2015@gmail.com', N'Admin2015', N'1231231231', N'', N'', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[tbl_Admin_Registration] OFF
SET IDENTITY_INSERT [dbo].[TBL_SP_Ragistration] ON 

INSERT [dbo].[TBL_SP_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (2, N'1', N'1', N'damodarsharma0@gmail.com', N'1', N'1', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[TBL_SP_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (3, N'2', N'2', N'Damodar@123.com', N'2', N'2', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[TBL_SP_Ragistration] ([Uid], [Id], [Pwd], [Email], [ScholName], [Phno], [F1], [F2], [F3], [F4], [IsActive]) VALUES (6, N'22', N'22', N'damodarsharma90@gmail.com', N'22', N'2222222', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TBL_SP_Ragistration] OFF
ALTER TABLE [dbo].[SchoolIdFilds]  WITH CHECK ADD  CONSTRAINT [FK_SchoolIdFilds_School_Ragistration] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School_Ragistration] ([Id])
GO
ALTER TABLE [dbo].[SchoolIdFilds] CHECK CONSTRAINT [FK_SchoolIdFilds_School_Ragistration]
GO
ALTER TABLE [dbo].[SchoolProfile]  WITH CHECK ADD  CONSTRAINT [FK_SchoolProfile_School_Ragistration] FOREIGN KEY([id])
REFERENCES [dbo].[School_Ragistration] ([Id])
GO
ALTER TABLE [dbo].[SchoolProfile] CHECK CONSTRAINT [FK_SchoolProfile_School_Ragistration]
GO
ALTER TABLE [dbo].[StudentDetail]  WITH CHECK ADD  CONSTRAINT [FK_StudentDetail_School_Ragistration] FOREIGN KEY([SchoolUID])
REFERENCES [dbo].[School_Ragistration] ([Id])
GO
ALTER TABLE [dbo].[StudentDetail] CHECK CONSTRAINT [FK_StudentDetail_School_Ragistration]
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminSchoolAlote]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_AdminSchoolAlote]
(@Id nvarchar(50), 
 @F1 nvarchar(150) 
 )
AS
BEGIN
   update School_Ragistration set F1=@F1 where id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AdminSchoolAloteAll]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AdminSchoolAloteAll]
( @F1 nvarchar(150) 
 )
AS
BEGIN
   update School_Ragistration set F1=@F1 
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteStudentDetail]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DeleteStudentDetail]
      (@SchoolUID nvarchar(50)
      ,@ScholarNo  nvarchar(50)     
	   )
AS
BEGIN
	if(@ScholarNo='0000')
		delete  StudentDetail where SchoolUID=@SchoolUID  
	else
		delete  StudentDetail where SchoolUID=@SchoolUID and ScholarNo=@ScholarNo
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_FildWiseStudentDetail]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_FildWiseStudentDetail] (@SchoolID VARCHAR(50))
AS
BEGIN
DECLARE @s_query VARCHAR(MAX)
    DECLARE @ColNames VARCHAR(1000)
	SET @ColNames = (select [MyIdFild] from SchoolIdFilds where [SchoolID]=@SchoolID)
SET @s_query = 'Select  ' + @ColNames + ' From [StudentDetail] where (SchoolUID='''+@SchoolID+''') order by ScholarNo'

EXEC(@s_query)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_tbl_Admin_Registration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Insert_tbl_Admin_Registration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   insert into tbl_Admin_Registration values (@Id,@Pwd,@Email,@ScholName,@Phno,@F1,@F2,@F3,@F4,@IsActive)
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_insertSchoolIDFild]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Sp_insertSchoolIDFild]
      (@SchoolID nvarchar(50)
      ,@MyIdFild nvarchar(250)
      ,@lasUpdatedTime date    
	   )
AS
BEGIN
   insert into SchoolIdFilds values (@SchoolID,@MyIdFild,@lasUpdatedTime)
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_insertSchoolProfile]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Sp_insertSchoolProfile]
      (@Id nvarchar(50)
      ,@SchoolName nvarchar(50)
      ,@PrincipalName nvarchar(50)
      ,@DiectorName nvarchar(50)
      ,@Address nvarchar(250)
      ,@Village nvarchar(50)
      ,@Tehsil nvarchar(50)
      ,@District nvarchar(50)
      ,@State nvarchar(50)
      ,@PIN int
      ,@Phno1 nvarchar(50)
      ,@Phno2 nvarchar(50)
      ,@LandLine1 nvarchar(50)
      ,@LandLine2 nvarchar(50)
      ,@SchoolLogo nvarchar(150)
      ,@SchoolWebSite nvarchar(50)
      ,@Emailid nvarchar(50)
      ,@SchoolEstb nvarchar(50)
      ,@AuthSign nvarchar(150)
      ,@F1 nvarchar(50)
      ,@F2 nvarchar(50)
      ,@F3 nvarchar(50)
      ,@F4 nvarchar(50)
      ,@IsActive int
	   )
AS
BEGIN
   insert into SchoolProfile values (@Id,@SchoolName,@PrincipalName,@DiectorName,@Address,@Village,@Tehsil,@District,@State,@PIN,@Phno1,@Phno2,@LandLine1,@LandLine2,@SchoolLogo,@SchoolWebSite,@Emailid,@SchoolEstb,@AuthSign,@F1,@F2,@F3,@F4,@IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertschoolRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertschoolRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   insert into School_Ragistration values (@Id,@Pwd,@Email,@ScholName,@Phno,@F1,@F2,@F3,@F4,@IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_insertStudentDetail]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_insertStudentDetail]
      (@SchoolUID nvarchar(50)
      ,@ScholarNo  nvarchar(50)
      ,@StudentName  nvarchar(50)
      ,@FatherName  nvarchar(50)
      ,@MotherName  nvarchar(250)
      ,@BloodGroup nvarchar(50)
	  ,@PhoneNumber nvarchar(50)
	  ,@DateofBarth nvarchar(50)
	  ,@Class nvarchar(50)
	  ,@EmailId nvarchar(50)
	  ,@Addres nvarchar(250)
	  ,@StudentPhoto nvarchar(150)
	  ,@F1 nvarchar(50)
	  ,@F2 nvarchar(50)
	  ,@F3 nvarchar(50)
	  ,@F4 nvarchar(50)
	  ,@LastUpdated date
	   ,@Status int
	  ,@IsActive int
	   )
AS
BEGIN
   insert into StudentDetail values (@SchoolUID,@ScholarNo,@StudentName,@FatherName,@MotherName,@BloodGroup,@PhoneNumber,@DateofBarth,@Class,@EmailId,@Addres,@StudentPhoto,@F1,@F2,@F3,@F4,@LastUpdated,@Status,@IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Message]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_Message]
(@UID nvarchar(50), 
 @Mesage nvarchar(150),
 @updatetime date 
 )
AS
BEGIN
   insert into MessagetoSchool values(@UID,@Mesage,@updatetime)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Tbl_Adm_InsertschoolRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Tbl_Adm_InsertschoolRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   insert into tbl_Admin_Registration values (@Id,@Pwd,@Email,@ScholName,@Phno,@F1,@F2,@F3,@F4,@IsActive)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_tbl_Adm_UpdateRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_tbl_Adm_UpdateRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   update tbl_Admin_Registration set Pwd=@Pwd,Email=@Email,ScholName=@ScholName,Phno=@Phno,F1=@F1,F2=@F2,F3=@F3,F4=@F4,IsActive=@IsActive where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Tbl_Sp_InsertschoolRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tbl_Sp_InsertschoolRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   insert into TBL_SP_Ragistration values (@Id,@Pwd,@Email,@ScholName,@Phno,@F1,@F2,@F3,@F4,@IsActive)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_tbl_SP_UpdateRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_tbl_SP_UpdateRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   update TBL_SP_Ragistration set Pwd=@Pwd,Email=@Email,ScholName=@ScholName,Phno=@Phno,F1=@F1,F2=@F2,F3=@F3,F4=@F4,IsActive=@IsActive where Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_tbl_SP_UpdateRegistrationActive]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_tbl_SP_UpdateRegistrationActive]
(@Id nvarchar(50),
 @IsActive int
 )
AS
BEGIN
   update TBL_SP_Ragistration set IsActive=@IsActive where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_tbl_Update_Admin_Registration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_tbl_Update_Admin_Registration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   update tbl_Admin_Registration set Pwd=@Pwd,Email=@Email,ScholName=@ScholName,Phno=@Phno,F1=@F1,F2=@F2,F3=@F3,F4=@F4,IsActive=@IsActive where id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRegistration]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateRegistration]
(@Id nvarchar(50),
 @Pwd nvarchar(50),
 @Email nvarchar(50),
 @ScholName nvarchar(150),
 @Phno nvarchar(50),
 @F1 nvarchar(150),
 @F2 nvarchar(150),
 @F3 nvarchar(150),
 @F4 nvarchar(150),
 @IsActive int
 )
AS
BEGIN
   update School_Ragistration set Pwd=@Pwd,Email=@Email,ScholName=@ScholName,Phno=@Phno,F1=@F1,F2=@F2,F3=@F3,F4=@F4,IsActive=@IsActive where id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateSchoolIDFild]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateSchoolIDFild]
      (@SchoolID nvarchar(50)
      ,@MyIdFild nvarchar(250)
      ,@lasUpdatedTime date    
	   )
AS
BEGIN
   update SchoolIdFilds set SchoolID=@SchoolID,MyIdFild=@MyIdFild,lasUpdatedTime=@lasUpdatedTime where (SchoolID=@SchoolID)
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateSchoolProfile]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateSchoolProfile]
      (@Id nvarchar(50)
      ,@SchoolName nvarchar(50)
      ,@PrincipalName nvarchar(50)
      ,@DiectorName nvarchar(50)
      ,@Address nvarchar(250)
      ,@Village nvarchar(50)
      ,@Tehsil nvarchar(50)
      ,@District nvarchar(50)
      ,@State nvarchar(50)
      ,@PIN int
      ,@Phno1 nvarchar(50)
      ,@Phno2 nvarchar(50)
      ,@LandLine1 nvarchar(50)
      ,@LandLine2 nvarchar(50)
      ,@SchoolLogo nvarchar(150)
      ,@SchoolWebSite nvarchar(50)
      ,@Emailid nvarchar(50)
      ,@SchoolEstb nvarchar(50)
      ,@AuthSign nvarchar(150)
      ,@F1 nvarchar(50)
      ,@F2 nvarchar(50)
      ,@F3 nvarchar(50)
      ,@F4 nvarchar(50)
      ,@IsActive int
	   )
AS
BEGIN
   update  SchoolProfile set ID=@Id,SchoolName=@SchoolName,PrincipalName=@PrincipalName,DiectorName=@DiectorName,[Address]=@Address,Village=@Village,Tehsil=@Tehsil,District=@District,[State]=@State,PIN=@PIN,Phno1=@Phno1,Phno2=@Phno2,LandLine1=@LandLine1,LandLine2=@LandLine2,SchoolLogo=@SchoolLogo,SchoolWebSite=@SchoolWebSite,Emailid=@Emailid,SchoolEstb=@SchoolEstb,AuthSign=@AuthSign,F1=@F1,F2=@F2,F3=@F3,F4=@F4,IsActive=@IsActive where ID=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateSchoolWiseStudentDetailStatus]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Sp_UpdateSchoolWiseStudentDetailStatus]
      (@SchoolUID nvarchar(50)     
	   ,@Status int
	 
	   )
AS
BEGIN
   update  StudentDetail set [Status]=@Status  where SchoolUID=@SchoolUID  
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateStudentDetail]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateStudentDetail]
      (@ScholarNoOld nvarchar(50)
	   ,@SchoolUID nvarchar(50)
      ,@ScholarNo  nvarchar(50)
      ,@StudentName  nvarchar(50)
      ,@FatherName  nvarchar(50)
      ,@MotherName  nvarchar(250)
      ,@BloodGroup nvarchar(50)
	  ,@PhoneNumber nvarchar(50)
	  ,@DateofBarth nvarchar(50)
	  ,@Class nvarchar(50)
	  ,@EmailId nvarchar(50)
	  ,@Addres nvarchar(250)
	  ,@StudentPhoto nvarchar(150)
	  ,@F1 nvarchar(50)
	  ,@F2 nvarchar(50)
	  ,@F3 nvarchar(50)
	  ,@F4 nvarchar(50)
	  ,@LastUpdated date
	  ,@Status int
	  ,@IsActive int
	   )
AS
BEGIN
   update  StudentDetail set SchoolUID=@SchoolUID,ScholarNo=@ScholarNo,StudentName=@StudentName,FatherName=@FatherName,MotherName=@MotherName,BloodGroup=@BloodGroup,PhoneNumber=@PhoneNumber,DateofBarth=@DateofBarth,Class=@Class,EmailId=@EmailId,Addres=@Addres,StudentPhoto=@StudentPhoto,F1=@F1,F2=@F2,F3=@F3,F4=@F4,LastUpdated=@LastUpdated,Status=@Status,IsActive=@IsActive where SchoolUID=@SchoolUID and ScholarNo=@ScholarNoOld
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateStudentDetailStatus]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Sp_UpdateStudentDetailStatus]
      (@SchoolUID nvarchar(50)
      ,@ScholarNo  nvarchar(50)
	   ,@Status int
	 
	   )
AS
BEGIN
   update  StudentDetail set [Status]=@Status  where SchoolUID=@SchoolUID and ScholarNo=@SchoolUID
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpdateStudentPHOTOID]    Script Date: 09-Jan-16 9:13:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UpdateStudentPHOTOID]
      (@SchoolUID nvarchar(50)
      ,@ScholarNo  nvarchar(50)      
	  ,@StudentPhotoID nvarchar(150)	  
	   )
AS
BEGIN 
UPDATE StudentDetail
SET StudentPhoto = REPLACE(StudentPhoto,@ScholarNo , @StudentPhotoID) where SchoolUID=@SchoolUID and ScholarNo=@ScholarNo
 
END
GO
USE [master]
GO
